In [1]:
import os
import json
import pandas as pd

# Function to flatten nested JSON
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

# Directory containing JSON files
json_dir = 'ipl_json'

# List to hold all records
all_records = []

# Process each JSON file in the directory
for filename in os.listdir(json_dir):
    if filename.endswith('.json'):
        file_path = os.path.join(json_dir, filename)
        with open(file_path, 'r') as file:
            data = json.load(file)
            flattened_data = flatten_json(data)
            flattened_data['id'] = filename  # Use filename as the ID
            all_records.append(flattened_data)

# Create a DataFrame
df = pd.DataFrame(all_records)

# Save DataFrame to CSV
csv_path = 'output_data.csv'
df.to_csv(csv_path, index=False)

print(f'Data has been successfully written to {csv_path}')

Data has been successfully written to output_data.csv

In [2]:
df = pd.read_csv('output_data.csv')
df.head()

/var/folders/md/ky2l32vn0dv18glx2skcg7sr0000gr/T/ipykernel_35820/1718035786.py:1: DtypeWarning: Columns (30,43,46,48,50,57,59,62,67,68,69,70,285,286,287,292,293,294,295,463,464,465,466,467,964,965,966,967,1250,1694,1695,1696,1734,1736,1738,1739,1740,1744,1753,1761,1762,1763,1764,1765,1766,1803,1804,1805,1806,1825,1826,1827,1828,1829,1833,1860,1862,1863,1864,1865,1866,1898,1901,1906,1907,1909,1915,1921,1935,1936,1937,1954,1955,1965,2031,2032,2033,2040,2041,2042,2081,2082,2083,2084,2099,2100,2101,2105,2106,2107,2108,2109,2121,2125,2153,2155,2156,2157,2183,2184,2185,2218,2220,2231,2255,2257,2260,2264,2273,2275,2277,2294,2295,2296,2308,2309,2318,2319,2320,2334,2351,2352,2356,2357,2358,2359,2361,2369,2373,2374,2375,2384,2413,2414,2415,2440,2462,2463,2464,2488,2489,2490,2491,2492,2493,2495,2498,2524,2531,2533,2534,2549,2550,2551,2553,2554,2555,2556,2557,2558,2559,2582,2590,2595,2602,2603,2604,2605,2610,2611,2612,2641,2642,2644,2645,2646,2647,2648,2649,2650,2651,2652,2653,2654,2655,2656,2657,2658,2661,2663,2666,2674,2675,2676,2677,2678,2679,2708,2714,2716,2719,2731,2732,2733,2739,2744,2745,2746,2747,2758,2762,2763,2765,2773,2774,2775,2776,2777,2779,2781,2783,2800,2801,2802,2816,2817,2818,2833,2835,2839,2844,2845,2846,2847,2848,2849,2859,2863,2864,2866,2870,2871,2872,2881,2882,2883,2884,2891,2892,2895,2896,2901,2903,2904,2905,2906,2907,2908,2915,2916,2917,2921,2922,2923,2927,2944,2945,2950,2953,2958,2959,2960,2961,2970,2971,2972,2987,2988,2989,2994,2995,2996,2998,2999,3021,3022,3023,3024,3028,3030,3031,3032,3033,3034,3035,3036,3037,3042,3050,3055,3057,3067,3068,3069,3089,3091,3093,3094,3095,3098,3100,3101,3108,3109,3110,3120,3121,3123,3124,3125,3145,3146,3147,3154,3155,3157,3158,3159,3163,3164,3165,3169,3170,3172,3176,3177,3178,3182,3183,3184,3188,3189,3190,3194,3195,3196,3200,3201,3202,3203,3204,3206,3207,3208,3212,3213,3214,3218,3219,3220,3224,3225,3226,3230,3231,3238,3246,3247,3266,3283,3296,3301,3309,3310,3312,3316,3317,3318,3342,3355,3357,3359,3362,3382,3383,3384,3395,3396,3399,3400,3403,3404,3405,3406,3407,3413,3414,3415,3416,3421,3422,3423,3424,3425,3440,3442,3448,3450,3451,3452,3455,3456,3457,3458,3459,3463,3467,3468,3469,3470,3474,3475,3479,3480,3481,3482,3483,3484,3486,3487,3488,3499,3500,3501,3503,3505,3506,3515,3516,3517,3518,3519,3536,3537,3538,3539,3540,3547,3551,3553,3555,3556,3563,3564,3565,3566,3569,3570,3571,3572,3575,3580,3584,3585,3588,3591,3593,3594,3595,3596,3597,3598,3621,3633,3635,3636,3637,3638,3646,3647,3648,3652,3653,3663,3664,3665,3666,3667,3670,3671,3672,3673,3678,3679,3680,3681,3684,3685,3686,3691,3695,3701,3722,3723,3737,3749,3750,3751,3753,3754,3755,3756,3765,3778,3786,3787,3788,3789,3790,3791,3795,3796,3797,3809,3817,3820,3821,3822,3828,3829,3831,3832,3833,3834,3835,3836,3837,3838,3839,3840,3844,3847,3848,3849,3853,3854,3855,3856,3859,3860,3861,3862,3871,3872,3873,3874,3875,3876,3877,3878,3879,3880,3881,3885,3890,3892,3894,3895,3896,3909,3910,3911,3926,3927,3928,3929,3930,3931,3937,3938,3939,3940,3941,3950,3951,3952,3953,3954,3955,3956,3957,3973,3977,3978,3979,3980,3982,3983,3984,3985,3986,3987,3988,4003,4005,4006,4007,4008,4011,4013,4014,4015,4016,4020,4021,4022,4023,4024,4029,4030,4031,4032,4037,4038,4041,4042,4043,4044,4045,4053,4054,4055,4056,4060,4061,4062,4066,4068,4069,4070,4071,4080,4088,4092,4093,4094,4104,4108,4111,4113,4116,4118,4121,4128,4132,4133,4134,4135,4136,4137,4140,4141,4142,4161,4162,4164,4166,4167,4168,4169,4171,4172,4175,4177,4178,4179,4180,4181,4186,4187,4188,4189,4190,4192,4193,4194,4195,4199,4200,4201,4202,4203,4205,4206,4207,4208,4210,4211,4212,4220,4224,4225,4226,4227,4228,4232,4237,4238,4239,4240,4241,4242,4243,4244,4245,4246,4248,4249,4251,4252,4253,4263,4267,4268,4270,4276,4277,4278,4279,4280,4281,4282,4283,4286,4287,4288,4289,4290,4291,4292,4293,4294,4296,4297,4298,4299,4300,4301,4302,4303,4304,4305,4307,4308,4309,4331,4332,4333,4334,4335,4336,4346,4352,4355,4357,4358,4359,4360,4361,4362,4363,4367,4368,4369,4370,4371,4376,4377,4378,4379,4380,4381,4382,4383,4384,4385,4386,4387,4388,4389,4390,4397,4398,4401,4402,4403,4404,4408,4409,4410,4411,4412,4413,4414,4415,4419,4421,4422,4423,4427,4428,4429,4430,4436,4437,4438,4440,4442,4443,4444,4445,4446,4447,4448,4453,4454,4456,4457,4458,4459,4460,4461,4462,4463,4469,4475,4480,4484,4485,4486,4487,4489,4497,4498,4499,4502,4505,4511,4512,4513,4516,4517,4518,4519,4520,4521,4522,4523,4525,4534,4536,4537,4539,4540,4542,4543,4544,4545,4546,4547,4548,4549,4550,4551,4552,4553,4554,4557,4561,4562,4563,4565,4572,4573,4574,4575,4576,4577,4578,4579,4580,4581,4584,4585,4586,4590,4591,4592,4597,4600,4601,4602,4603,4604,4605,4606,4607,4609,4610,4611,4612,4613,4614,4615,4616,4617,4619,4620,4621,4622,4625,4626,4627,4635,4638,4639,4640,4641,4647,4648,4649,4654,4655,4656,4657,4658,4660,4663,4668,4669,4671,4672,4673,4674,4678,4679,4680,4684,4685,4686,4687,4689,4690,4694,4695,4696,4698,4699,4700,4701,4702,4703,4704,4705,4706,4707,4708,4709,4710,4713,4715,4718,4719,4720,4721,4722,4723,4724,4725,4727,4728,4729,4733,4734,4735,4739,4740,4741,4745,4746,4749,4751,4752,4753,4754,4755,4756,4757,4758,4759,4760,4761,4762,4764,4765,4766,4767,4768,4769,4772,4773,4774,4778,4779,4780,4785,4786,4787,4788,4789,4790,4791,4792,4793,4794,4795,4796,4797,4798,4799,4800,4802,4803,4804,4808,4812,4813,4814,4815,4816,4817,4827,4828,4829,4830,4835,4836,4837,4838,4844,4845,4846,4850,4851,4852,4855,4856,4857,4858,4859,4863,4864,4865,4873,4874,4879,4882,4884,4885,4886,4887,4888,4889,4890,4891,4892,4893,4894,4895,4897,4899,4900,4901,4902,4903,4906,4907,4908,4909,4910,4914,4915,4916,4917,4918,4920,4921,4922,4923,4925,4926,4927,4928,4933,4934,4935,4936,4937,4938,4939,4946,4947,4948,4949,4950,4951,4952,4953,4954,4955,4956,4964,4965,4966,4968,4969,4970,4971,4972,4973,4975,4976,4977,4978,4979,4980,4981,4982,4983,4984,4990,4991,4992,4993,4994,4995,4996,4999,5000,5001,5002,5003,5006,5007,5008,5009,5010,5011,5012,5013,5014,5015,5016,5017,5018,5019,5020,5021,5022,5023,5024,5026,5027,5028,5030,5031,5032,5037,5038,5039,5043,5045,5046,5047,5048,5049,5050,5051,5052,5053,5055,5056,5057,5058,5059,5061,5062,5063,5064,5065,5066,5067,5068,5069,5070,5071,5072,5074,5075,5076,5080,5081,5082,5083,5085,5086,5087,5088,5089,5090,5091,5092,5093,5094,5095,5096,5097,5098,5099,5100,5101,5102,5103,5104,5105,5106,5107,5108,5109,5111,5112,5113,5114,5115,5116,5117,5118,5119,5120,5121,5122,5123,5125,5126,5130,5131,5133,5134,5135,5136,5137,5138,5144,5145,5146,5149,5150,5151,5152,5153,5154,5155,5158,5159,5160,5161,5162,5163,5164,5165,5166,5168,5169,5170,5172,5173,5174,5175,5176,5177,5178,5179,5180,5181,5182,5184,5185,5186,5187,5188,5189,5190,5191,5192,5196,5197,5198,5199,5201,5202,5203,5204,5205,5206,5207,5211,5217,5218,5219,5223,5224,5225,5226,5227,5228,5229,5232,5233,5234,5235,5236,5237,5238,5239,5240,5243,5244,5245,5254,5255,5256,5257,5258,5259,5260,5261,5262,5263,5264,5266,5267,5268,5269,5270,5271,5272,5274,5275,5278,5279,5280,5286,5289,5290,5291,5293,5294,5297,5298,5299,5303,5308,5309,5310,5311,5312,5313,5314,5315,5316,5319,5320,5321,5322,5323,5324,5326,5327,5328,5329,5335,5336,5337,5338,5339,5340,5341,5342,5343,5349,5350,5352,5354,5355,5356,5361,5363,5364,5365,5366,5367,5368,5369,5370,5371,5372,5373,5374,5375,5376,5378,5380,5381,5384,5385,5386,5387,5388,5389,5390,5391,5392,5394,5395,5396,5397,5398,5399,5400,5401,5404,5405,5406,5407,5408,5409,5410,5411,5412,5413,5414,5415,5416,5417,5418,5419,5420,5421,5422,5426,5427,5428,5429,5430,5431,5432,5433,5434,5435,5436,5438,5441,5443,5444,5446,5448,5450,5451,5452,5453,5455,5456,5457,5462,5466,5467,5468,5469,5470,5471,5472,5473,5474,5476,5479,5480,5481,5482,5484,5486,5487,5488,5489,5490,5491,5492,5493,5494,5495,5496,5497,5498,5499,5500,5501,5502,5503,5505,5507,5508,5509,5510,5511,5512,5513,5514,5515,5516,5518,5519,5520,5521,5522,5523,5529,5530,5531,5532,5533,5534,5535,5536,5537,5540,5541,5542,5547,5548,5549,5552,5553,5554,5555,5557,5558,5559,5560,5561,5562,5563,5564,5565,5566,5568,5569,5570,5571,5572,5573,5574,5575,5576,5577,5578,5579,5580,5581,5582,5583,5584,5585,5586,5587,5588,5589,5592,5593,5595,5599,5600,5601,5605,5606,5607,5611,5612,5613,5619,5620,5621,5622,5623,5624,5625,5626,5627,5628,5629,5630,5631,5632,5633,5635,5639,5640,5643,5644,5645,5646,5647,5649,5650,5651,5655,5656,5657,5663,5664,5665,5666,5667,5668,5669,5670,5671,5672,5673,5674,5675,5676,5677,5678,5679,5681,5682,5684,5685,5686,5687,5688,5689,5690,5693,5694,5695,5697,5698,5699,5700,5702,5703,5704,5705,5706,5707,5708,5712,5714,5720,5721,5724,5725,5726,5727,5728,5729,5730,5733,5734,5735,5736,5737,5738,5739,5740,5741,5742,5743,5744,5745,5746,5747,5748,5749,5750,5752,5753,5754,5755,5756,5759,5760,5761,5762,5763,5764,5765,5766,5767,5768,5769,5770,5771,5772,5773,5774,5775,5777,5778,5779,5780,5781,5784,5785,5787,5788,5794,5796,5801,5803,5805,5807,5808,5809,5810,5811,5814,5815,5816,5820,5821,5822,5824,5830,5832,5833,5834,5835,5836,5837,5838,5840,5841,5842,5843,5844,5845,5846,5847,5848,5849,5850,5851,5852,5853,5854,5855,5856,5857,5858,5859,5860,5861,5862,5863,5864,5865,5867,5868,5869,5870,5871,5872,5873,5874,5875,5876,5879,5882,5883,5884,5887,5888,5889,5890,5891,5892,5893,5895,5896,5898,5899,5900,5902,5903,5904,5906,5910,5911,5912,5916,5917,5918,5919,5920,5922,5926,5928,5929,5931,5933,5934,5935,5936,5937,5938,5939,5940,5941,5942,5943,5944,5945,5947,5950,5951,5952,5953,5954,5955,5956,5957,5958,5959,5960,5961,5962,5963,5964,5966,5967,5971,5972,5973,5974,5975,5976,5977,5978,5979,5981,5982,5983,5984,5985,5986,5989,5990,5991,5992,5993,5995,5996,5997,5998,5999,6000,6001,6002,6003,6004,6006,6007,6008,6009,6010,6011,6012,6014,6015,6018,6019,6020,6021,6022,6023,6024,6025,6026,6029,6031,6032,6033,6034,6035,6036,6037,6038,6039,6040,6041,6042,6043,6044,6045,6046,6050,6051,6052,6053,6055,6056,6057,6058,6060,6061,6062,6063,6064,6068,6069,6072,6074,6077,6078,6079,6080,6081,6082,6083,6084,6085,6086,6087,6088,6089,6092,6093,6094,6095,6096,6097,6098,6099,6100,6101,6102,6103,6104,6105,6106,6107,6109,6110,6111,6112,6113,6117,6118,6119,6120,6121,6122,6124,6125,6126,6127,6128,6129,6130,6135,6136,6137,6138,6139,6140,6141,6142,6143,6144,6145,6146,6147,6148,6150,6151,6153,6154,6156,6157,6158,6159,6160,6161,6162,6163,6164,6165,6166,6167,6168,6169,6170,6173,6174,6175,6176,6177,6178,6179,6180,6181,6182,6183,6184,6185,6186,6187,6188,6189,6190,6191,6192,6193,6194,6198,6199,6200,6201,6202,6203,6204,6205,6206,6207,6208,6209,6210,6214,6215,6219,6220,6221,6225,6226,6227,6228,6229,6234,6235,6236,6237,6238,6239,6240,6242,6243,6244,6245,6246,6247,6252,6254,6256,6257,6258,6259,6260,6262,6263,6266,6269,6270,6271,6272,6274,6275,6276,6277,6278,6279,6280,6281,6282,6283,6284,6285,6286,6287,6288,6289,6290,6291,6292,6293,6294,6295,6299,6300,6301,6302,6303,6306,6307,6308,6309,6310,6311,6312,6313,6314,6315,6316,6317,6318,6319,6320,6321,6322,6323,6324,6326,6328,6329,6330,6334,6335,6337,6338,6339,6340,6342,6343,6344,6345,6348,6349,6350,6351,6352,6353,6354,6355,6356,6357,6358,6359,6361,6362,6363,6364,6365,6366,6367,6373,6374,6375,6376,6377,6378,6379,6380,6381,6383,6384,6385,6386,6387,6388,6389,6390,6391,6392,6393,6394,6395,6396,6398,6400,6402,6405,6406,6407,6408,6409,6410,6411,6412,6413,6414,6415,6416,6417,6418,6419,6420,6422,6423,6424,6425,6426,6427,6428,6429,6430,6431,6432,6433,6434,6435,6436,6438,6440,6442,6443,6444,6445,6446,6447,6448,6449,6450,6452,6453,6454,6455,6456,6457,6458,6459,6463,6464,6465,6466,6467,6468,6469,6470,6473,6474,6475,6476,6477,6478,6479,6481,6482,6483,6484,6485,6486,6487,6488,6490,6491,6492,6493,6495,6497,6498,6499,6500,6501,6502,6503,6504,6505,6506,6507,6508,6510,6511,6512,6513,6514,6515,6516,6517,6518,6519,6520,6521,6522,6523,6524,6526,6527,6528,6529,6530,6531,6533,6534,6535,6537,6538,6541,6542,6543,6544,6545,6546,6547,6549,6550,6552,6553,6554,6555,6556,6557,6558,6559,6560,6561,6564,6565,6566,6570,6572,6576,6577,6578,6581,6582,6583,6584,6585,6586,6587,6588,6591,6594,6597,6598,6600,6604,6605,6606,6607,6608,6609,6610,6611,6612,6613,6616,6617,6618,6619,6620,6622,6623,6624,6628,6629,6630,6631,6632,6633,6634,6635,6638,6641,6642,6643,6644,6646,6647,6648,6649,6650,6651,6652,6653,6654,6657,6658,6659,6660,6661,6662,6663,6664,6665,6666,6668,6672,6673,6674,6678,6681,6682,6683,6684,6685,6686,6687,6688,6689,6690,6691,6692,6693,6695,6696,6697,6701,6702,6704,6708,6709,6710,6714,6715,6716,6720,6721,6723,6727,6728,6729,6733,6734,6735,6736,6737,6738,6739,6740,6741,6745,6746,6747,6751,6752,6754,6755,6756,6760,6761,6762,6766,6767,6768,6772,6773,6774,6778,6779,6780,6781,6782,6783,6784,6785,6786,6787,6789,6790,6791,6797,6798,6799,6800,6801,6802,6803,6804,6805,6806,6808,6809,6810,6811,6812,6813,6815,6816,6817,6818,6819,6820,6821,6822,6825,6826,6827,6829,6830,6831,6832,6833,6834,6835,6836,6837,6838,6839,6840,6841,6842,6843,6844,6845,6846,6847,6849,6850,6851,6852,6853,6854,6855,6856,6857,6858,6859,6860,6861,6862,6863,6864,6868,6869,6871,6872,6873,6874,6875,6876,6877,6878,6879,6880,6881,6882,6885,6886,6889,6890,6891,6892,6893,6894,6895,6896,6897,6898,6899,6900,6901,6902,6903,6904,6905,6906,6907,6908,6909,6910,6911,6912,6913,6915,6916,6918,6919,6920,6921,6923,6924,6925,6926,6930,6931,6932,6933,6934,6935,6936,6937,6938,6939,6940,6941,6942,6943,6944,6945,6949,6950,6951,6952,6953,6954,6956,6958,6959,6960,6965,6966,6967,6968,6969,6970,6971,6972,6973,6974,6975,6978,6979,6980,6981,6983,6984,6985,6990,6993,6995,6996,6997,6998,6999,7000,7001,7002,7003,7004,7005,7006,7007,7008,7009,7010,7011,7012,7013,7014,7015,7016,7017,7018,7020,7021,7022,7023,7024,7026,7027,7028,7029,7031,7032,7033,7034,7035,7036,7037,7038,7039,7040,7041,7042,7043,7044,7048,7049,7050,7054,7055,7056,7057,7058,7059,7060,7061,7062,7063,7064,7065,7066,7067,7068,7069,7071,7072,7073,7075,7076,7077,7078,7079,7082,7083,7084,7085,7086,7090,7091,7093,7094,7095,7096,7097,7099,7101,7102,7104,7105,7106,7110,7111,7112,7113,7114,7116,7117,7118,7119,7121,7122,7123,7124,7125,7126,7127,7128,7129,7130,7131,7132,7133,7134,7135,7136,7137,7138,7140,7141,7142,7143,7145,7146,7147,7148,7149,7153,7154,7155,7156,7157,7158,7159,7160,7161,7162,7163,7164,7165,7166,7167,7168,7169,7170,7171,7172,7173,7174,7175,7176,7177,7178,7180,7181,7182,7183,7184,7185,7186,7187,7188,7189,7190,7191,7192,7193,7194,7195,7196,7197,7198,7199,7200,7201,7202,7203,7204,7205,7206,7207,7208,7209,7210,7211,7212,7213,7214,7215,7221,7222,7223,7224,7225,7229,7230,7231,7232,7233,7234,7235,7236,7240,7241,7242,7243,7244,7245,7246,7247,7248,7249,7250,7251,7253,7254,7255,7256,7257,7258,7259,7260,7262,7263,7264,7265,7267,7268,7269,7271,7272,7273,7274,7275,7276,7277,7278,7279,7280,7281,7282,7283,7284,7285,7286,7287,7289,7290,7291,7293,7295,7296,7297,7298,7299,7301,7302,7303,7304,7305,7306,7307,7308,7309,7310,7311,7312,7313,7315,7316,7317,7318,7319,7320,7321,7322,7324,7330,7331,7332,7333,7334,7335,7336,7337,7338,7339,7340,7341,7342,7343,7344,7345,7346,7347,7348,7349,7350,7353,7354,7355,7359,7360,7361,7363,7364,7365,7369,7370,7371,7372,7373,7374,7375,7376,7377,7378,7379,7380,7381,7382,7384,7388,7389,7391,7393,7394,7395,7396,7397,7398,7399,7400,7401,7402,7403,7404,7408,7409,7410,7411,7412,7413,7414,7418,7419,7420,7424,7425,7426,7430,7432,7433,7435,7436,7437,7439,7440,7441,7442,7443,7444,7445,7447,7448,7449,7450,7452,7453,7454,7455,7456,7457,7458,7459,7460,7461,7462,7463,7464,7465,7466,7467,7468,7469,7470,7471,7472,7473,7474,7475,7476,7477,7478,7479,7480,7481,7482,7484,7486,7487,7488,7491,7493,7494,7497,7498,7499,7500,7501,7503,7504,7505,7506,7507,7508,7510,7511,7512,7513,7514,7515,7516,7517,7518,7519,7520,7521,7522,7524,7525,7528,7529,7530,7531,7532,7533,7534,7536,7537,7538,7539,7540,7541,7542,7545,7546,7547,7548,7549,7550,7551,7552,7553,7554,7555,7556,7557,7558,7559,7560,7561,7562,7563,7566,7567,7568,7569,7570,7571,7572,7573,7574,7575,7576,7577,7578,7579,7580,7581,7582,7583,7586,7589,7590,7591,7592,7594,7595,7596,7599,7600,7601,7602,7603,7604,7605,7606,7607,7608,7609,7610,7611,7612,7613,7614,7615,7616,7617,7618,7619,7620,7621,7623,7624,7625,7626,7627,7628,7629,7630,7631,7632,7633,7634,7635,7636,7637,7638,7639,7640,7641,7642,7643,7644,7645,7646,7647,7648,7649,7650,7652,7653,7654,7655,7656,7657,7658,7659,7660,7661,7662,7665,7666,7667,7668,7669,7670,7671,7672,7673,7674,7675,7676,7677,7679,7682,7683,7684,7685,7686,7687,7688,7689,7690,7691,7692,7693,7694,7695,7696,7697,7698,7699,7700,7702,7704,7705,7706,7707,7708,7709,7710,7711,7712,7713,7714,7720,7722,7724,7725,7726,7727,7730,7731,7732,7733,7734,7735,7736,7737,7738,7739,7740,7741,7743,7745,7746,7747,7748,7749,7750,7751,7752,7753,7754,7755,7756,7757,7758,7759,7760,7761,7762,7764,7766,7767,7768,7769,7770,7771,7772,7774,7775,7777,7779,7780,7781,7782,7783,7784,7785,7786,7787,7788,7789,7790,7791,7792,7793,7794,7796,7798,7799,7800,7801,7802,7803,7804,7805,7806,7807,7808,7809,7810,7811,7813,7814,7815,7816,7819,7820,7821,7822,7823,7824,7825,7826,7827,7829,7830,7831,7832,7834,7835,7836,7837,7838,7839,7840,7841,7842,7843,7844,7846,7847,7848,7849,7850,7851,7852,7853,7854,7855,7856,7857,7858,7859,7860,7861,7862,7863,7864,7865,7866,7868,7869,7870,7874,7875,7876,7877,7878,7880,7881,7884,7886,7887,7888,7889,7890,7891,7892,7893,7894,7895,7897,7898,7899,7900,7901,7902,7903,7904,7905,7906,7907,7909,7910,7911,7912,7913,7914,7915,7916,7917,7918,7919,7920,7922,7923,7924,7928,7929,7930,7931,7932,7934,7935,7936,7937,7938,7939,7940,7941,7942,7943,7944,7945,7946,7947,7948,7949,7951) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('output_data.csv')

,meta_data_version,meta_created,meta_revision,info_balls_per_over,info_city,info_dates_0,info_event_name,info_event_match_number,info_gender,info_match_type,...,innings_0_overs_19_deliveries_7_review_batter,innings_0_overs_19_deliveries_7_review_decision,innings_0_overs_19_deliveries_7_review_umpires_call,innings_0_overs_5_deliveries_1_wickets_0_fielders_0_substitute,innings_1_overs_5_deliveries_1_review_by,innings_1_overs_5_deliveries_1_review_umpire,innings_1_overs_5_deliveries_1_review_batter,innings_1_overs_5_deliveries_1_review_decision,innings_0_overs_0_deliveries_3_extras_noballs,info_registry_people_S Midhun
0,1.1.0,2024-04-09,1,6,Mohali,2024-04-09,Indian Premier League,23.0,male,T20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.1.0,2023-04-26,1,6,Kolkata,2023-04-23,Indian Premier League,33.0,male,T20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0.0,2011-05-02,2,6,Kimberley,2009-05-09,Indian Premier League,37.0,male,T20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.1.0,2021-10-02,2,6,Sharjah,2021-10-02,Indian Premier League,46.0,male,T20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0.0,2015-05-19,1,6,Mumbai,2015-05-19,Indian Premier League,NaN,male,T20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1093 entries, 0 to 1092
Columns: 7952 entries, meta_data_version to info_registry_people_S Midhun
dtypes: float64(2357), int64(98), object(5497)
memory usage: 66.3+ MB

In [4]:
df.shape

(1093, 7952)

In [5]:
df.describe()

,meta_revision,info_balls_per_over,info_event_match_number,info_outcome_by_runs,info_overs,innings_0_overs_0_over,innings_0_overs_0_deliveries_0_runs_batter,innings_0_overs_0_deliveries_0_runs_extras,innings_0_overs_0_deliveries_0_runs_total,innings_0_overs_0_deliveries_1_runs_batter,...,innings_1_overs_3_deliveries_1_extras_byes,innings_2_overs_0_deliveries_0_extras_noballs,innings_0_overs_17_deliveries_2_extras_byes,innings_0_overs_17_deliveries_7_extras_legbyes,innings_1_overs_11_deliveries_8_extras_wides,innings_1_overs_11_deliveries_9_runs_batter,innings_1_overs_11_deliveries_9_runs_extras,innings_1_overs_11_deliveries_9_runs_total,innings_0_overs_3_deliveries_1_extras_byes,innings_0_overs_0_deliveries_3_extras_noballs
count,1093.000000,1093.0,1029.000000,497.000000,1093.0,1093.0,1093.000000,1093.000000,1093.000000,1093.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
mean,1.503202,6.0,31.434402,30.092555,20.0,0.0,0.707228,0.091491,0.798719,0.784081,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0
std,0.648497,0.0,18.346556,26.765474,0.0,0.0,1.260964,0.386175,1.270876,1.357061,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,6.0,1.000000,1.000000,20.0,0.0,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0
25%,1.000000,6.0,16.000000,11.000000,20.0,0.0,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0
50%,1.000000,6.0,31.000000,22.000000,20.0,0.0,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0
75%,2.000000,6.0,46.000000,41.000000,20.0,0.0,1.000000,0.000000,1.000000,1.000000,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0
max,4.000000,6.0,72.000000,146.000000,20.0,0.0,6.000000,5.000000,6.000000,6.000000,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0

In [19]:
import json
import pandas as pd

# Function to extract and flatten the required fields from the JSON
def extract_data(json_data, file_id):
    records = []

    created = json_data['meta']['created']
    city = json_data['info']['city']
    dates = json_data['info']['dates'][0]
    outcome_winner = json_data['info']['outcome']['winner']
    outcome_by = json_data['info']['outcome'].get('by', {})
    outcome_by_runs = outcome_by.get('runs', None)
    outcome_by_wickets = outcome_by.get('wickets', None)
    player_of_match = json_data['info']['player_of_match']
    team_1 = json_data['info']['teams'][0]
    team_2 = json_data['info']['teams'][1]
#     first_player = list(json_data['info']['players'][teams[0]])[0]
    season = json_data['info']['season']
    toss_winner = json_data['info']['toss']['winner']
    toss_decision = json_data['info']['toss']['decision']
    venue = json_data['info']['venue']
    
    for inning in json_data['innings']:
        team = inning['team']
        for over in inning['overs']:
            over_number = over['over']
            for ball_number, delivery in enumerate(over['deliveries'], start=1):
                record = {
                    'id': file_id,
                    'created': created,
                    'city': city,
                    'dates': dates,
                    'outcome_winner': outcome_winner,
                    'outcome_by_runs': outcome_by_runs,
                    'outcome_by_wickets': outcome_by_wickets,
                    'team_1': team_1,
                    'team_2': team_2,
#                     'first_player': first_player,
                    'season': season,
                    'toss_winner': toss_winner,
                    'toss_decision': toss_decision,
                    'venue': venue,
                    'team': team,
                    'over_number': over_number,
                    'ball_number': ball_number,
                    'batter': delivery['batter'],
                    'bowler': delivery['bowler'],
                    'non_striker': delivery['non_striker'],
                    'runs_batter': delivery['runs']['batter'],
                    'runs_extras': delivery['runs'].get('extras', 0),
                    'runs_total': delivery['runs']['total'],
                    'wickets_player_out': delivery.get('wickets', [{}])[0].get('player_out', None),
                    'wickets_kind': delivery.get('wickets', [{}])[0].get('kind', None)
                }
                records.append(record)
    
    return records

# # Load JSON data
# with open('ipl_json/1082591.json', 'r') as file:
#     json_data = json.load(file)

# # Extract data
# records = extract_data(json_data)

# # Create a DataFrame
# df = pd.DataFrame(records)

# # Save DataFrame to CSV
# df.to_csv('output_new.csv', index=False)

# print(f'Data has been successfully written to output.csv')

In [20]:
# Directory containing JSON files
json_dir = 'ipl_json'

# List to hold all records
all_records = []

# Process each JSON file in the directory
for filename in os.listdir(json_dir):
    if filename.endswith('.json'):
        file_path = os.path.join(json_dir, filename)
        with open(file_path, 'r') as file:
            data = json.load(file)
            record_data = extract_data(data, filename)  # Pass filename as the ID
            all_records.extend(record_data)  # Combine records correctly

# Create a DataFrame
data = pd.DataFrame(all_records)
data.to_csv('all_match_details.csv', index=False)

KeyError: 'city'

In [33]:
import os
import json
import pandas as pd

# Function to extract and flatten the required fields from the JSON
def extract_data(json_data, file_id):
    records = []

    created = json_data['meta'].get('created', None)
    city = json_data['info'].get('city', None)
    dates = json_data['info'].get('dates', [None])[0]
    outcome_winner = json_data['info'].get('outcome', {}).get('winner', None)
    outcome_by = json_data['info'].get('outcome', {}).get('by', {})
    outcome_by_runs = outcome_by.get('runs', None)
    outcome_by_wickets = outcome_by.get('wickets', None)
    player_of_match = json_data['info'].get('player_of_match', None)
#     teams = json_data['info'].get('teams', [])
    team_1 = json_data['info']['teams'][0]
    team_2 = json_data['info']['teams'][1]
#     first_player = list(json_data['info'].get('players', {}).get(teams[0], [None]))[0]
    season = json_data['info'].get('season', None)
    toss_winner = json_data['info'].get('toss', {}).get('winner', None)
    toss_decision = json_data['info'].get('toss', {}).get('decision', None)
    venue = json_data['info'].get('venue', None)
#     team_betting = json_data['innings']['team']
    
    for inning in json_data.get('innings', []):
        team = inning.get('team', None)
        for over in inning.get('overs', []):
            over_number = over.get('over', None)
            for ball_number, delivery in enumerate(over.get('deliveries', []), start=1):
                record = {
                    'id': file_id,
                    'created': created,
                    'city': city,
                    'dates': dates,
                    'outcome_winner': outcome_winner,
                    'outcome_by_runs': outcome_by_runs,
                    'outcome_by_wickets': outcome_by_wickets,
#                     'teams': teams,
                    'team_1': team_1,
                    'team_2': team_2,
#                     'first_player': first_player,
                    'season': season,
                    'toss_winner': toss_winner,
                    'toss_decision': toss_decision,
                    'venue': venue,
                    'team_betting':team,
                    'over_number': over_number,
                    'ball_number': ball_number,
                    'batter': delivery.get('batter', None),
                    'bowler': delivery.get('bowler', None),
                    'non_striker': delivery.get('non_striker', None),
                    'runs_batter': delivery.get('runs', {}).get('batter', None),
                    'runs_extras': delivery.get('runs', {}).get('extras', 0),
                    'runs_total': delivery.get('runs', {}).get('total', None),
                    'wickets_player_out': delivery.get('wickets', [{}])[0].get('player_out', None),
                    'wickets_kind': delivery.get('wickets', [{}])[0].get('kind', None)
                }
                records.append(record)
    
    return records

In [34]:
# Directory containing JSON files
json_dir = 'ipl_json'

# List to hold all records
all_records = []

# Process each JSON file in the directory
for filename in os.listdir(json_dir):
    if filename.endswith('.json'):
        file_path = os.path.join(json_dir, filename)
        with open(file_path, 'r') as file:
            data = json.load(file)
            record_data = extract_data(data, filename)  # Pass filename as the ID
            all_records.extend(record_data)  # Combine records correctly

# Create a DataFrame
data = pd.DataFrame(all_records)
data.to_csv('all_match_details.csv', index=False)

print('Data has been successfully written to all_match_details.csv')

Data has been successfully written to all_match_details.csv

In [35]:
data.head()

,id,created,city,dates,outcome_winner,outcome_by_runs,outcome_by_wickets,team_1,team_2,season,...,over_number,ball_number,batter,bowler,non_striker,runs_batter,runs_extras,runs_total,wickets_player_out,wickets_kind
0,1426261.json,2024-04-09,Mohali,2024-04-09,Sunrisers Hyderabad,2.0,NaN,Sunrisers Hyderabad,Punjab Kings,2024,...,0,1,TM Head,K Rabada,Abhishek Sharma,0,0,0,None,None
1,1426261.json,2024-04-09,Mohali,2024-04-09,Sunrisers Hyderabad,2.0,NaN,Sunrisers Hyderabad,Punjab Kings,2024,...,0,2,TM Head,K Rabada,Abhishek Sharma,0,0,0,None,None
2,1426261.json,2024-04-09,Mohali,2024-04-09,Sunrisers Hyderabad,2.0,NaN,Sunrisers Hyderabad,Punjab Kings,2024,...,0,3,TM Head,K Rabada,Abhishek Sharma,4,0,4,None,None
3,1426261.json,2024-04-09,Mohali,2024-04-09,Sunrisers Hyderabad,2.0,NaN,Sunrisers Hyderabad,Punjab Kings,2024,...,0,4,TM Head,K Rabada,Abhishek Sharma,0,0,0,None,None
4,1426261.json,2024-04-09,Mohali,2024-04-09,Sunrisers Hyderabad,2.0,NaN,Sunrisers Hyderabad,Punjab Kings,2024,...,0,5,TM Head,K Rabada,Abhishek Sharma,0,0,0,None,None